<!DOCTYPE html>

@{

    ViewData["Title"] = "Check_history";
    var data = ViewBag.Check_Inventory;
    var History = ViewBag.HistoryList;
}
@model ASEWEB.Models.Check_inventoryModel


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <script type="text/javascript" src="~/js/jquery-3.6.0.js"></script>
    <script>
        function DIV_Close() {
            parent.DIV_Close();
        }
    </script>
    <style type="text/css">
        html, body {
            height: 100%;
            width: 100%;
        }

        table {
            border-spacing: 0;
            width: 100%;
        }
        table tbody {
            display: block;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
        }
            table tbody::-webkit-scrollbar {
                display: none;
            }
            thead, tbody tr {
                display: table;
                width: 100%;
                table-layout: fixed; /* even columns width , fix width of table too*/
            }
        table th {
            table-layout: fixed;
            word-break: break-all;
            height: 30px;
            padding: 0px;
            text-align: center;
        }
        table thead {
            background-color: #f4f5f7;
            color: #000000;
        }
        thead tr th {
            position: sticky;
            top: 0;
        }
        tfoot tr td {
            position: sticky;
            bottom: 0;
        }

        tfoot tr {
            display: table;
            width: 100%;
            table-layout: fixed;
        }
    </style>

</head>
<body >
    <form method="get" action="/Frame/Check_inventory_History_List">
        <table style="border:1px #00007f groove;height: 330px;width: 400px;overflow-y:auto;" cellpadding="0" border='1'>
            <thead style="width:100%">
                <tr>
                    @*
                <th width="28.5px"><input type="checkbox" id="check_all" onclick="list_allcheck()" /></th>*@
                    <th height="25px" width="85px">Carousel ID</th>
                    <th height="25px" width="66.5px">Cell ID</th>
                    @*
                <th height="25px" width="114px">Start Time</th>*@
                    <th height="25px" width="85.5px">BOX ID</th>
                    <th height="25px" width="80px">Check Result</th>
                </tr>
            </thead>
            <tbody style="background-color:white;" height="330px" width="400px">
                @if (History.Count != 0)
                {
                    @for (int i = 0; i < History.Count; i = i + 4)
                    {
                        <tr>
                            @*
                        <td width="30px" align="center"><input type="checkbox" name="list" id="@History[i]" /></td>*@
                            <td width="107px" align="center">@History[i]</td>
                            <td width="84px" align="center">@History[i + 1]</td>
                            <td width="109px" align="center">@History[i + 2]</td>
                            <td width="100px" align="center">@History[i + 3]</td>
                        </tr>
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4"><input style="width:100%" type="button" value="關閉" onclick="DIV_Close()" /></td>
                </tr>
            </tfoot>
        </table>
    </form>



</body>
</html>
