<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
@{
    ViewData["Title"] = "Index";
    var data = ViewBag.data;
    var bg = "";
}

<head>
    <script type="text/javascript" src="~/js/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>




    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Index</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <script>
        function check(tCSID_Index) {
            document.getElementById("tCSID").value = document.getElementsByName("CSID")[tCSID_Index].value;
            parent.close_iframe_window();
        }
        function DIV_close() {
            parent.close_iframe_window();
        }
    </script>
    <style>
        .top1 {
            width: 1100px;
            height: 10%;
            background-color: rgb(43, 43, 43);
            position: absolute;
            top: 0%;
            left: 0%;
            color: white;
            font-size: 10%;
            line-height: 200%;
            font-family: Microsoft JhengHei;
            font-weight: bold;
            box-sizing: border-box;
        }

        .block2 {
            width: 1100px;
            height: 1100px;
            position: absolute;
            left: 0%;
            top: 5%;
            z-index: 2;
        }

        .block3 {
            width: 60%;
            height: 100%;
            position: absolute;
            right: 3%;
            bottom: -1250%;
            display: inline-block;
        }
        .block4{
            width:200px;
            height:100px;
            position:relative;
            bottom:-5%;
            right:0%;
            left:20%;
            z-index:3;
        }

        .background_left {
            width: 460px;
            height: 300px;
            position: absolute;
            top: 730px;
            left: 0px;
            z-index: 3;
            background-color: aliceblue;
            display: inline-block;
        }

        .background_bottom {
            width: 780px;
            height: 80px;
            position: absolute;
            top: 960px;
            left: -5px;
            z-index: 3;
            background-color: white;
        }

        .border {
            width: 150px;
            height: 80px;
            position: relative;
            display: inline-block;
            z-index: 2;
        }

        .top {
            position: relative;
            font-size: 25px;
            padding: 5px;
            display: flex;
            justify-content: left;
            margin: 5px;
            display: inline-block;
        }

        .button {
            width: 80%;
            height: 30px;
            font-size: 100%;
            background-color: rgb(51, 255, 0);
            left: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 10px;
            z-index: 2;
        }



        .group {
            width: 100%;
        }

        .temp {
            position: relative;
            font-size: 100%;
            top: 20px;
            left: 10px;
        }

        .percent {
            position: relative;
            font-size: 100%;
            top: -5px;
            left: 100px;
        }
    </style>
</head>
<body style="background-color: aliceblue; width:51%;height:100%">

    <div class="top1" style="font-size: 20px;">Carousel</div>

    <input type="hidden" id="tCSID" value="" />
    <input type="hidden" id="tCEID" value="" />

    <div class="block2">
        @if (data.Count != 0)
        {
            @for (int i = 0; i < data.Count; i++)
            {
                switch (data[i].Store_Status)
                {
                    case "0":
                        bg = "rgb(51, 255, 0)";
                        break;
                    case "1":
                        bg = "yellow";
                        break;
                    case "2":
                        bg = "white";
                        break;
                    case "3":
                        bg = "red";
                        break;
                    case "4":
                        bg = "rebeccapurple";
                        break;
                    case "5":
                        bg = "orange";
                        break;
                }
                <div class="border">
                    <div class="temp">@data[i].Temperature°C</div>
                    <div class="percent">@data[i].Humidity%</div>
                    <input type="hidden" name="CSID" value="@data[i].Carousel_ID" />
                    <input class="button" type="button" style="background-color:@bg" id="@data[i].Carousel_ID" value="@data[i].Carousel_Show_ID" onclick="check(@i)" />@*onclick="location.assign('/Frame/StorageCell?tCSID=@(data[i].Carousel_ID)&tCSID_Show=@(data[i].Carousel_Show_ID)')" class="button"*@
                </div>
            }
        }
        <div class="block4">
            <input style="background-color:white" type="button" class="button" value="關閉" onclick="DIV_close()" />
        </div>
        
    </div>
    


</body>
</html>